body {
  font-family: cursive;
  background-color: #ffff;
}

/*Title section*/

.animated-promo-container {
  display: flex;
  justify-content: flex-end;
}

.animated-promo {
  border-right: solid 5px rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  overflow: hidden;
  color: #ffaaa7;
  font-size: 20px;
  right: 0;
  animation: animated-text 4s ease 1s 1 normal both;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  height: 50px;
}

/*Titles*/

.title {
  font-family: "Original Surfer", cursive;
  font-size: 2rem;
  color: #98ddca;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.list-item-content-title {
  color: #ffaaa7;
}

.title-section {
  display: flex;
  flex-direction: row;
  height: 200px;
}

.logo-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-name {
  font-size: 3em;
  text-decoration: none;
  font-family: "Pacifico", serif;
}

.brand-name:hover,
.brand-name:active,
.brand-name:visited,
.brand-name:link {
  color: #98ddca;
}

.name {
  font-size: 2em;
}

/*Nav section*/

#main-nav {
  font-family: "Original Surfer", cursive;
  font-size: 1.5em;
}

.nav-link:visited,
.nav-link:link,
.nav-link:active {
  color: #ffaaa7;
}

.nav-link:hover {
  color: #d88d8a;
}

.navbar-toggler {
  color: #98ddca;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-brand img {
  height: 100px;
  margin-left: 10px;
}

.dropdown-menu {
  background-color: #f6f6f6;
}

.dropdown-item {
  color: #ffaaa7;
  font-size: 1.2em;
}

/* Carousel */

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.carousel-caption h5 {
  font-size: 26px;
}

.carousel-caption p {
  font-size: 20px;
}

/*About me section*/

#about-me {
  height: auto;
  position: relative;
  padding-top: 30px;
}

.bg {
  position: absolute;
  opacity: 0.2;
  height: 100%;
  width: 100%;
  overflow: hidden;
  width: 100%;
}

#prof-pic {
  display: flex;
  justify-content: center;
}

#prof-pic img {
  border-radius: 10%;
  height: auto;
  width: 400px;
}

#content {
  position: relative;
  display: flex;
  order: 1;
  align-items: center;
}

#content-text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 20px;
  font-family: "Indie Flower", cursive;
  color: rgb(0, 0, 0);
}

#title {
  text-align: center;
}

/* Products section */

#products {
  margin-top: 30px;
  padding: 10px 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.product-pic {
  padding: 10px;
  width: 400px;
}

/*Feedback section*/

.carousel-item {
  margin-bottom: 20px;
}

.feedbacks-carousel-inner {
  position: relative;
  font-family: "Caveat", serif;
  font-weight: 200;
  font-size: 2em;
  line-height: 1.5em;
  font-style: italic;
  padding: 0 8%;
  text-align: center;
  color: #64a794;
}

.feedbacks-carousel-inner:before {
  content: "\201C";
  position: absolute;
  top: 0.25em;
  left: -0.15em;
  color: #98ddca;
  opacity: 0.5;
  font-size: 6em;
  z-index: -1;
}

.carousel-control-prev-icon-colored,
.carousel-control-next-icon-colored {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon-colored:after {
  content: ">";
  font-size: 55px;
  color: #98ddca;
}

.carousel-control-prev-icon-colored:after {
  content: "<";
  font-size: 55px;
  color: #98ddca;
}

/*Footer section*/

footer {
  background-color: #98ddca;
  height: fit-content;
}

.footer-title {
  color: #ffff;
  padding-top: 20px;
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

.opening-hours-table {
  border-spacing: 20px;
  border-collapse: separate;
  display: flex;
  justify-content: center;
  color: #ffff;
}

.opening-hours h3 {
  text-align: center;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.contact a {
  color: #000;
  text-decoration: none;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media-logo {
  padding: 10px;
  font-size: 1.5em;
  color: #ffff;
}

.map {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.map p {
  text-align: center;
}

/*Copyright section*/
#cr {
  text-align: center;
  background-color: #fff;
  margin-top: 10px;
}

/*Face and body care section*/

.face-care-title {
  margin: 20px;
}

.skin-care-img {
  border-radius: 10%;
  padding-bottom: 10px;
  overflow: hidden;
}

#list-container {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.list-item-price {
  color: #ffaaa7;
}

/*Contact and booking section*/

.contact-section {
  position: relative;
  order: -1;
  opacity: 0.5;
}

.contact-section-bg {
  width: auto;
  margin: 10px 0;
}

#message-reservation-form {
  position: relative;
  order: 1;
  font-size: 1.2em;
}

input:not(input[type="checkbox"]),
optgroup,
select,
textarea {
  width: 70vw;
}

.input-item {
  display: block;
  margin: 20px 0;
}

label {
  display: block;
}

#reservation {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#reservation-checkbox {
  margin: 10px;
}

.btn,
.btn:visited,
.btn:link {
  margin: 10px 0;
  background-color: #98ddca;
  border: none;
}

.btn:hover {
  background-color: #64a794;
}

.btn:disabled {
  background-color: gainsboro;
}

/*Offers section*/

.offer-btn {
  height: 200px;
  border: 1px solid #64a794;
  background-color: #fff;
}

.offer-btn-logo {
  font-size: 3em;
  color: #98ddca;
}

.modal-dialog {
  position: relative;
  height: min-content;
}

.offer-bg {
  position: relative;
}

.offer-bg img {
  width: 100%;
}

.offer-content {
  position: relative;
  text-align: center;
  bottom: 120px;
}

.offer-content h1,
.offer-content h2 {
  font-size: 1.5rem;
}

@media only screen and (max-width: 900px) {
  .brand-name {
    font-size: 50px;
    text-align: center;
  }

  .animated-promo {
    font-size: 14px;
  }

  #content-text {
    font-size: 1.2rem;
    flex-wrap: wrap;
    align-items: center;
<<<<<<< HEAD
    width: 70%;
    text-align: center;
    margin: 0 auto;
=======
    justify-content: center;
    width: 50%;
>>>>>>> ef73584430cf1939673991f4efeb3a342457b97e
  }

  #prof-pic img {
    height: auto;
    width: 300px;
  }

  .product-pic {
    width: 150px;
  }

  #message-reservation-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .feedbacks-carousel-inner {
    font-size: 16px;
  }

  .offer-content {
    bottom: 100px;
  }

  .offer-content h1,
  .offer-content h2 {
    font-size: 0.6em;
  }
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 400px;
  }
}
